body{
  background: #E3E4E5;
}

div.name{
  left: 0;
  line-height: 100px;
  margin-top: -100px;
  margin-bottom: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-size: 95px;
  /* font-size:540%; */
  font-family: 'Lora', serif;
  color: #E6BAB0;
  font-weight: 400;
}

div.name img{
  margin-top: 100px;
  width:150px;
}


.navbar {
  overflow: hidden;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.navbar a {
  color: #000;
  text-align: center;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 21px;
}

.navbar a:hover {
  color: #93B7BE;
}

.icons{
  justify-content: flex-end;
  position: fixed;
  bottom: 10px;
  text-align: right;
  right: 1.5%;
  font-size: 37px;
  height: 60px;
  width: 100%;
}

.fa{
  padding: .7%;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 70%;
  color:#93B7BE;
}
