:root{
  --primary-color: #E6BAB0;
  --secondary-color: #E3E4E5;
  --third-color: #93B7BE;
  --fourth-color:#fff;
}

@font-face {
  font-family: 'White Angelica';
  src: url('../styles/fonts/whiteAng/WhiteAngelicaRegular.eot');
  src: url('../styles/fonts/whiteAng/WhiteAngelicaRegular.eot?#iefix') format('embedded-opentype'),
      url('../styles/fonts/whiteAng/WhiteAngelicaRegular.woff2') format('woff2'),
      url('../styles/fonts/whiteAng/WhiteAngelicaRegular.woff') format('woff'),
      url('../styles/fonts/whiteAng/WhiteAngelicaRegular.ttf') format('truetype'),
      url('../styles/fonts/whiteAng/WhiteAngelicaRegular.svg#WhiteAngelicaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: var(--fourth-color);
  margin:0;
}

h1{
  font-family: 'White Angelica';
}

a{
  text-decoration: none;
  color: var(--fourth-color);
}

a:visited{
  color:var(--fourth-color);
}

ul{
  list-style: none;
}

.container{
  width:80%;
  margin:auto;
  overflow: hidden;
}

/* ICONS */
i.fab, i.far{
  color:#FBFCFC;
  font-size: 20px;
}

i.far{
  font-size: 15px;
}

.icons a{
  margin: 0px 5px;
} 

.icons i.fab:hover{
  color:var(--third-color)
} 

/* HEADER & HEADER SPACING*/

.header{
  background-color:var(--primary-color);
  color: var(--fourth-color);
  display: flex;
  padding:10px 0px;
}

h1{
  text-transform: lowercase;
  font-size:20px;
  padding:0 10px;
  margin:0;
  font-weight:100;
  white-space: nowrap;
}

.header .container{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
}

/* name spacing */
.name{
  grid-column: 1/2;
}

/* navbar spacing */
.navbar{
  grid-column-end: 5;
  white-space: nowrap;
  display: inline-block;
  /* text-align: right; */
}

/* NAVBAR */
.navbar a{
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  color: var(--fourth-color);
  padding:20px 0px;
  display: inline-block;
} 

.navbar a:hover{
  color: var(--third-color);
}

.navbar ul{
  display:flex;
  padding:0;
  margin:0;
}

.navbar li{
  margin: 0px 0px 0px 20px;
} 

.navbar .menu{
  display: none;
}

.navbar .close{
  display:none;
}

/* HEADER SPECIFIC ICONS */
.header-icons{
  text-align: right;
}

/* ABOUT BODY */

.about-body{
  background-color: var(--primary-color);
  width:80%;
  margin:auto;
  display: block;
  /* margin-top: 100px; */
  margin-top:7vw;
  padding:20px 0px;
}

h2{
  font-size: 50px;
  text-align: center;
  color: var(--fourth-color);
  font-family: 'Roboto',sans-serif;
  font-style: normal;
  font-weight: normal;
  padding-bottom:10px;
}

/* IMAGE */
img{
  width: 100%;
  margin: 0;
  padding: 0;
}

/* ABOUT PARAGRAPH */

p{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding-top:10px;
}

p a{
  color: black;
}

p a:hover{
  color: #93B7BE;
}


/* COPYRIGHT */

h3{
  white-space: pre;
  font-family: 'Roboto',sans-serif;
  font-size:13px;
  color: #FBFCFC;
  text-align: center;
  letter-spacing: 0.05em;
}

/* FOOTER */

.footer .container{
  display: flex;
  justify-content: center;
}

.footer{
  position: absolute;
  padding:20px;
  /* margin-top:100px; */
  margin-top:7vw;
  width: 100%;
  background-color: var(--primary-color);
} 

/* MEDIA QUERIES */

/* to hamburger nav*/
@media screen and (max-width:880px){
  .navbar li:not(:last-child){
    display: none;
  }

  .navbar li{
    margin:0;

  }

  .navbar{
    justify-self: right;
    grid-column-end: 5;
  }

  .navbar a.menu {
    display:grid;
  }
}

@media screen and (max-width: 880px) {
  .navbarresponsive {
    position: relative;
    grid-column-end:5;
    justify-self: flex-end;
  }

  .navbarresponsive .bars{
    display: none;

  }

  .navbarresponsive a:hover{
    color: var(--third-color);
  }
}

@media(max-width:600px){
  .footer .copyright{
    display: none;
  }
  .footer{
    padding:2px;
  }
}